/* ==========================================================================
   #BREADCRUMB
   ========================================================================== */

.c-breadcrumb {

}

  .c-breadcrumb__item {
    color: $color-breadcrumb-text;

    &:last-child {
      font-weight: $font-weight-bold;
    }

    &:not(:last-child)::after {
      margin-left: $unit-tiny;
      margin-right: $unit-tiny;
      content: ">"
    }
  }