/* ==========================================================================
   #BREADCRUMB
   ========================================================================== */

$color-breadcrumb-text:   $color-brand;

.c-breadcrumb {

}

  .c-breadcrumb__item {
    color: $color-breadcrumb-text;
    transition: $global-transition-fast;  

    &:not(:last-child)::after {
      margin-left: $unit-tiny;
      margin-right: $unit-tiny;
      content: ">"
    }
  }

  .c-breadcrumb__item--active {
    font-weight: $font-weight-bold;
  }