/* ==========================================================================
   #FORM
   ========================================================================== */


/**
 * Form
 */

 .c-form {
   display: flex;
   flex-direction: column;
 }


/* Form-variants
   ========================================================================== */

.c-form--border-right\@tablet {
  @include mq($from: tablet) {
    border-right: 1px solid $color-gray--light;
  }
}