/* ==========================================================================
   #ICONS
   ========================================================================== */


/**
 * Styling for SVG icons.
 * 1. Allows sizing the icon by changing its font-size.
 */

.c-icon {
  display: inline-block;
  vertical-align: middle;
  width: 1em; /* [1] */
  height: 1em; /* [1] */
}


/* Size variants
   ========================================================================== */

.c-icon--regular {
  width: $unit;
  height: $unit;
}

.c-icon--large {
  width: $unit-large;
  height: $unit-large;
}

.c-icon--xlarge {
  width: $unit-xlarge;
  height: $unit-xlarge;
}

.c-icon--huge {
  width: $unit-huge;
  height: $unit-huge;
}


/* Functional variants
   ========================================================================== */

.c-icon--like {

  & > path {
    fill: none;
    stroke: $color-text;
    stroke-width: 4%;
  }

  &:hover > path {
    stroke: $color-accent;
  }

  &.is-active > path {
    fill: $color-accent;
    stroke: $color-accent;
  }
}



/* Color variants
   ========================================================================== */

.c-icon--facebook {
  color: $color-facebook;

  &:hover {
    color: $color-facebook--dark;
  }
}

.c-icon--twitter {
  color: $color-twitter;

  &:hover {
    color: $color-twitter--dark;
  }
}