/* ==========================================================================
   #HR
   ========================================================================== */


hr {
  margin-top:    $unit;
  margin-bottom: $unit;
  border: 0 solid $color-line;
  border-width: 0 0 1px 0;
}