///* ========================================================================
//   #GLOBAL
//   ======================================================================== */

// Fonts
$global-font: Lato, sans-serif;

$global-font-size:    16px;
$global-line-height:  24px;

$font-weight-thin:    300;
$font-weight-regular: 400;
$font-weight-bold:    700;

$global-radius:       2px;
$global-shadow:       0 0 10px 0 rgba(0,0,0,0.4);

$global-transition:      all 0.3s;
$global-transition-fast: all 0.15s;

$unit-factor-tiny :  0.25;
$unit-factor-small:  0.5;
$unit-factor-large:  2;
$unit-factor-xlarge: 3;
$unit-factor-huge :  4;

$unit: round($global-line-height);

$unit-tiny:   round($unit * $unit-factor-tiny);
$unit-small:  round($unit * $unit-factor-small);
$unit-large:  round($unit * $unit-factor-large);
$unit-xlarge: round($unit * $unit-factor-xlarge);
$unit-huge:   round($unit * $unit-factor-huge);
