//* ========================================================================
//   #COLORS
//   ======================================================================== */
// color palette: http://loveyourpalette.com/#/4AA0D5/EB586F/454553/E8ECED/FFFFFF/?_k=lgiqxy


$color-brand:            #2775a5;
$color-brand--light:     lighten($color-brand, 15%);
$color-brand--dark:      darken($color-brand, 10%);
  

$color-accent:           #EB586F;
$color-accent--dark:     darken($color-accent, 15%);
   
$color-gray:             #454553;
$color-gray--light:      lighten($color-gray, 50%);
$color-gray--very-light: lighten($color-gray, 60%);
$color-gray--dark:       darken($color-gray, 15%);

$color-success:          #4BB543;
$color-danger:           #d9534f;

// Social media
$color-facebook:          #3b5998;
$color-facebook--dark:    darken($color-facebook, 15%);

$color-google-plus:       #dc4d41;
$color-google-plus--dark: darken($color-google-plus, 15%);

// Page
$color-base-background:  #fff;


// Buttons
$color-btn:                  $color-brand;
$color-btn--hover:           $color-brand--dark;

$color-btn-secondary:        $color-accent;
$color-btn-secondary--hover: $color-accent--dark;

$color-btn-secondary:        $color-accent;
$color-btn-secondary--hover: $color-accent--dark;


// Text     
$color-text:         $color-gray--dark;


// Links    
$color-link:              $color-brand;
$color-link--hover:       $color-brand--light;


// Icons
$color-icon:              $color-gray--dark;


// Panel
$color-panel-border:      $color-gray--very-light;


// Horizontal rule
$color-line:              $color-gray--very-light;     

// Footer
$color-footer-background: $color-brand;
$color-footer-text:       #fff;    