//* ========================================================================
//   #COLORS
//   ======================================================================== */

$color-brand:            #42AB9E;
$color-brand--light:     #E1F3EE;
$color-brand--dark:      darken($color-brand, 10%);

$color-accent:           #EB586F;
$color-accent--dark:     darken($color-accent, 15%);
   
$color-gray:             #7F7f7f;
$color-gray--light:      #F5F5F5;
$color-gray--dark:       darken($color-gray, 15%);

$color-success:          #4BB543;
$color-danger:           #d9534f;

// Social media
$color-facebook:          #3b5998;
$color-facebook--dark:    darken($color-facebook, 15%);

$color-google-plus:       #dc4d41;
$color-google-plus--dark: darken($color-google-plus, 15%);

// Page
$color-base-background:  #fff;

// Buttons
$color-btn:                  $color-accent;
$color-btn--hover:           $color-accent--dark;

$color-btn-secondary:        $color-accent;
$color-btn-secondary--hover: $color-accent--dark;

$color-btn-secondary:        $color-accent;
$color-btn-secondary--hover: $color-accent--dark;

// Text     
$color-text:         $color-gray;

// Links    
$color-link:         $color-brand;
$color-link--hover:  $color-brand--light;

// Icons
$color-icon:         $color-gray--dark;

// Panel
$color-panel-border: $color-gray--light;

// Horizontal rule
$color-line:         $color-gray--light;

// Footer
$color-footer-background: $color-brand;
$color-footer-text:       $color-gray--light;
