/* ==========================================================================
   #LINKS
   ========================================================================== */

.u-link-hidden {
    color: inherit !important;

    &:hover {
      text-decoration: underline !important;
    }
}


.u-link-secret {
    color: inherit !important;

    &:hover {
      color: $color-link--hover !important;
    }
}